@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Indie+Flower&family=Neonderthaw&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container-card {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 2em;
    padding: 10px 0 0 10px;
    align-items: flex-start;
    justify-content: center;
}

.card-fix,
.card-mov {
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-shrink: 1;
}


/* Header - header-fix, div - columns-fix, foother - foother-fix */

.header-fix,
.header-mov {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3vw;
    border-bottom: 1px solid black;
    text-align: center;
}

.footer-fix,
.footer-mov {
    font-family: 'Fredericka the Great', cursive;
    font-size: 1vw;
    border-top: 1px solid black;
    text-align: center;
    height: 100%;
    justify-content: center;
}

.col-1>img {
    width: 35px;
    height: 35px;
    display: table-column;
    float: left;
    padding: 2px;
}

.card-ff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
}

.col-1,
.col-2 {
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Indie Flower', cursive;
    padding: 5px;
    flex-grow: 1;
}

.col-1 {
    width: 100px;
}

.col-2 {
    height: 150px;
    width: 250px;
}

.col-tall {
    height: 400px;
}

p {
    margin: 0;
    padding: 5px;
}

@media screen and (max-width: 320px) {
    .card-fix,
    .card-mov {
        display: flex;
        flex-direction: column;
        width: 90%;
        font-size: 100%;
        margin: 10px;
    }
    .col-1,
    .col-2 {
        width: auto;
    }
}