html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
    align-items: stretch;
}

.container-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
    padding: 10px 0 0 10px;
    /*grid-template-columns: 1fr 1fr;*/
    justify-content: space-between;
}

.card-fix {
    display: inline-block;
    /*margin: 0 auto;*/
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header - header-fix, div - columns-fix, foother - foother-fix */

.header-fix {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    width: 450px;
}

.columns-fix {
    margin: 5px;
}

.card-ff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p-1,
.p-2 {
    border: 1px solid black;
    margin-right: 5px;
}

.foother-fix {
    border: 1px solid black;
}

.card-resp {
    width: 450px;
    height: 300px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex: 200px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header-resp {
    border: 1px solid black;
    text-align: center;
}

.columns-resp {
    border: 1px solid black;
}

.foother-resp {
    border: 1px solid black;
}